@import "variables";

[data-component="DashboardComponent"] {
  .tableRow {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    color: $clr-dark-blue;
    background-color: $clr-gray200;
    margin: 0rem 0rem;
  }

  .noVisi {
    display: none;
  }

  .tableCell {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    font-size: 0.875rem;
    margin: 0rem 0rem;
    border: 1.5px solid $clr-gray200;
    border-top: none;
    color: $clr-dark-blue;
    font-weight: 400;

    .tableBody {
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      align-items: center;
    }
  }
}

[page-component="project-info-form"] {

  .backButton {
    color: #fff;
    background-color: #aeaeae;
    width: fit-content;
    padding: 0.2rem 1rem;
  }

  .madatory-star {
    color: red;
    font-weight: 800;
    padding-left: 2px;    
  }

  .formBox {

    .formBoxHead {
      border: 2px solid #ffffff;
      background-color: #ffffff;
      padding: 0.3rem 0.7rem;
      color: #000000;
      text-transform: uppercase;
      font-weight: 700;
    }

    .formBoxBody {
      border: 2px solid #e4e4e4;
      background-color: #eaeaea;
      padding: 0.3rem 0.7rem;
      color: #000000;
      text-transform: capitalize;
      font-size: 600;
    }

  }

  .sort {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  
    // label {
    //   color: $clr-dark-blue;
    //   font-size: 0.9rem;
    //   font-weight: 600;
    //   padding: 0 0 6px 0;
    //   margin: 0;
    // }
  
    
    .sort-by-select-wrapper {
      display: inline-block;
      background-color: transparent !important;

      .sort-by-select {
        border-radius: 0rem;
        color: #000000;
        font-size: 0.9rem;
        font-weight: 400;
        width: 100%;
        border: 1px solid #000000;
        background-color: #ffffff !important;
        >.MuiSelect-select {
          padding: 0.7rem 2rem 0.7rem 0.7rem;
          font-size: 0.9rem;
        }
  
        fieldset {
          top: 0;
        }
      }
  
      .sort-by-select:focus {
        background-color: transparent !important;
      }
    }
  }
  
  .check {
    // font-size: 0.8rem;
    padding: 0 0 15px 0;

    label {
      padding: 12px 0 0 0;
      margin: 0;
    }
  }

  .specificationTable {


    .specificationTableHead {
      background-color: #0f5f9e;
      color: #ffffff;
      font-weight: 600;
      padding: 0.4rem 0.7rem;
    }

    .specificationTableBody {
      color: #000000;
      padding: 0.4rem 0.7rem;

      .row:nth-child(even) {
        background-color: #ffffff;
      }

      .row:nth-child(odd) {
        background-color: #dddddd;
      }

    }

  }

  .buttonRow {
    background-color: #ffffff;
    padding: 0.8rem 0.7rem;
    display: flex;
    align-items: center;
    justify-content: end;

    .cancelButton {
      color: #ffffff;
      background-color: #ff0000;
      padding: 0.3rem 0.7rem;
      cursor: pointer;
      outline: none;
      border: none;
    }

    .submitButton {
      color: #ffffff;
      background-color: #1f91eb;
      padding: 0.3rem 0.7rem;
      cursor: pointer;
      outline: none;
      border: none;
    }

  }

}